<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about </title>
    <style>
        *{
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
            font-family: sans-serif;
            color: white;
        }
        body{
    
         
            background: #9c9c9c;
        }
        p{
            margin: 4%;
            font-size: 120%;
        }
        h1{
            font-family: sans-serif;
        }
        img{
            width: 50%;
            height: 50%;
        }
        section{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 2%;
            padding: 2%;
            background: rgba(88, 116, 78, 0.425);
        }
        div{
            padding: 2%;
            background: blue;
        
        }
    </style>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6518770876506180"
    crossorigin="anonymous"></script>
</head>
<body>
    <section>
    <h1>ALL THINGS ABOUT TIGER:</h1>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Walking_tiger_female.jpg/220px-Walking_tiger_female.jpg">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6518770876506180"
    crossorigin="anonymous"></script>
<!-- ad 1 -->
<ins class="adsbygoogle"
    style="display:block"
    data-ad-client="ca-pub-6518770876506180"
    data-ad-slot="7036107632"
    data-ad-format="auto"
    data-full-width-responsive="true"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
    <p>The tiger (Panthera tigris) is the largest living cat species and a member of the genus Panthera. It is most recognisable for its dark vertical stripes on orange</p> fur with a white underside. An apex predator, it primarily preys on ungulates, such as deer and wild boar. It is territorial and generally a solitary but social predator, requiring large contiguous areas of habitat to support its requirements for prey and rearing of its offspring.</p> Tiger cubs stay with their mother for about two years and then become independent, leaving their mother's home range to establish their own.

    The tiger was first scientifically described in 1758.</p> It once ranged widely from the Eastern Anatolia Region in the west to the Amur River basin in the east, and in the south from the foothills of the Himalayas to Bali in the Sunda Islands.</p> Since the early 20th century, tiger populations have lost at least 93% of their historic range and have been extirpated from Western and Central Asia, the islands of Java and Bali, and in large areas of Southeast and South Asia and China. What remains of the range where</p> tigers still roam free is fragmented, stretching in spots from Siberian temperate forests to subtropical and tropical forests on the Indian subcontinent, Indochina and a single Indonesian island, Sumatra.
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6518770876506180"
     crossorigin="anonymous"></script>
<!-- ad 1 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-6518770876506180"
     data-ad-slot="7036107632"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
    The tiger is listed as Endangered on the IUCN Red List.</p> As of 2023, the global wild tiger population is estimated to number 5,574 individuals, with most populations living in small isolated pockets. India hosts the largest tiger population. Major reasons for population decline are habitat destruction, habitat fragmentation and poaching. Tigers are also victims of human–wildlife conflict, due to encroachment in countries with a high human population density.</p>
    
    The tiger is among the most recognisable and popular of the world's charismatic megafauna. It featured prominently in the ancient mythology and folklore of cultures throughout its historic range and continues to be depicted in modern films and literature, appearing on many flags, coats of arms and as mascots for sporting teams. The tiger is the national animal of India, Bangladesh, Malaysia and South Korea.
    
    Etymology</p>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6518770876506180"
    crossorigin="anonymous"></script>
<!-- ad 1 -->
<ins class="adsbygoogle"
    style="display:block"
    data-ad-client="ca-pub-6518770876506180"
    data-ad-slot="7036107632"
    data-ad-format="auto"
    data-full-width-responsive="true"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
      <div>
        <a href="3">next</a>
      </div>
    </section>
</body>
</html>