<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about </title>
    <style>
        *{
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
            font-family: sans-serif;
            color: white;
        }
        body{
    
         
            background: #9c9c9c;
        }
        p{
            margin: 4%;
            font-size: 120%;
        }
        h1{
            font-family: sans-serif;
        }
        img{
            width: 50%;
            height: 50%;
        }
        section{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 2%;
            padding: 2%;
            background: rgba(88, 116, 78, 0.425);
        }
        div{
            padding: 2%;
            background: blue;
        
        }
    </style>
</head>
<body>
    <section>
    <h1>ALL THINGS ABOUT MONKEY:</h1>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/43/Bonnet_macaque_%28Macaca_radiata%29_Photograph_By_Shantanu_Kuveskar.jpg/220px-Bonnet_macaque_%28Macaca_radiata%29_Photograph_By_Shantanu_Kuveskar.jpg">

    <p>Monkey is a common name that may refer to most mammals of the infraorder Simiiformes, also known as the simians. Traditionally, all animals in the group now known as simians are counted as monkeys except the apes, thus monkeys (in that sense) constitute an incomplete paraphyletic grouping; however, in the broader sense based on cladistics,</p> apes (Hominoidea) are also included, making the terms monkeys and simians synonyms in regard to their scope.

In 1812, Geoffroy grouped the apes and the Cercopithecidae group of monkeys together and established the name Catarrhini, "Old World monkeys",</p> ("singes de l'Ancien Monde" in French). The extant sister of the Catarrhini in the monkey ("singes") group is the Platyrrhini (New World monkeys). Some nine million years before the divergence between the Cercopithecidae and the apes, the Platyrrhini emerged within "monkeys" by migration to South America from Afro-Arabia (the Old World),[citation needed]likely by ocean.[better source needed] Apes are thus deep in the tree of extant and extinct monkeys, and any of the apes is distinctly closer related to the Cercopithecidae than the Platyrrhini are.</p>

Many monkey species are tree-dwelling (arboreal), although there are species that live primarily on the ground, such as baboons. Most species are mainly active during the day (diurnal).</p> Monkeys are generally considered to be intelligent, especially the Old World monkeys.

Within suborder Haplorhini, the simians are a sister group to the tarsiers  the two members diverged some 70 million years ago.</p> New World monkeys and catarrhine monkeys emerged within the simians roughly 35 million years ago. Old World monkeys and apes emerged within the catarrhine monkeys about 25 million years ago. Extinct basal simians such as Aegyptopithecus or Parapithecus (35–32 million years ago) are also considered monkeys by primatologists.</p>

Lemurs, lorises, and galagos are not monkeys, but strepsirrhine primates (suborder Strepsirrhini). The simians' sister group, the tarsiers, are also haplorhine primates; however, they are also not monkeys.</p>

Apes emerged within monkeys as sister of the Cercopithecidae in the Catarrhini, so cladistically they are monkeys as well. However, there has been resistance to directly designate apes (and thus humans) as monkeys, so "Old World monkey" may be taken to mean either the Cercopithecoidea or the Catarrhini.</p> That apes are monkeys was already realized by Georges-Louis Leclerc, Comte de Buffon in the 18th century. Linnaeus placed this group in 1758 together with the tarsiers, in a single genus "Simia" (sans Homo), an ensemble now recognised as the Haplorhini.</p>
      <div>
        <a href="4">next</a>
      </div>
    </section>
</body>
</html>