<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about </title>
    <style>
        *{
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
            font-family: sans-serif;
            color: white;
        }
        body{
    
         
            background: #9c9c9c;
        }
        p{
            margin: 4%;
            font-size: 120%;
        }
        h1{
            font-family: sans-serif;
        }
        img{
            width: 50%;
            height: 50%;
        }
        section{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 2%;
            padding: 2%;
            background: rgba(88, 116, 78, 0.425);
        }
        div{
            padding: 2%;
            background: blue;
        
        }
    </style>
</head>
<body>
    <section>
    <h1>ALL THINGS ABOUT PIG:</h1>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bf/Pig_farm_Vampula_9.jpg/220px-Pig_farm_Vampula_9.jpg">
    <p>The pig (Sus domesticus), often called swine (pl.: swine), hog, or domestic pig when distinguishing from other members of the genus Sus, is an omnivorous, domesticated, even-toed, hoofed mammal. It is variously considered a subspecies of Sus scrofa (the wild boar or Eurasian boar)</p> or a distinct species. The pig's head-plus-body length ranges from 0.9 to 1.8 m (3 to 6 ft), and adult pigs typically weigh between 50 and 350 kg (110 and 770 lb), with well-fed individuals even exceeding this range. The size and weight of hogs largely</p> depends on their breed. Compared to other artiodactyls, a pig's head is relatively long and pointed. Most even-toed ungulates are herbivorous, but pigs are omnivores, like their wild relative. Pigs grunt and make snorting sounds.

When used as livestock, pigs are farmed primarily for the production of meat,</p> called pork. A group of pigs is called a passel, a team, or a sounder. The animal's bones, hide, and bristles are also used in products. Pigs, especially miniature breeds, are kept as pets.
The pig typically has a large head, with a long snout which is strengthened by a special prenasal bone</p> and a disk of cartilage at the tip. The snout is used to dig into the soil to find food and is a very acute sense organ. The dental formula of adult pigs is 
, giving a total of 44 teeth. The rear teeth are adapted for crushing. In the male,</p> the canine teeth can form tusks, which grow continuously and are sharpened by constantly being ground against each other.

Four hoofed toes are on each foot, with the two larger central toes bearing most of the weight,</p> but the outer two also being used in soft ground.

Most pigs have rather a bristled sparse hair covering on their skin, although woolly-coated breeds such as the Mangalitsa exist.</p>

Pigs possess both apocrine and eccrine sweat glands, although the latter appear limited to the snout and dorsonasal areas.</p> Pigs, however, like other "hairless" mammals (e.g. elephants, rhinos, and mole-rats), do not use thermal sweat glands in cooling. Pigs are also less able than many other mammals to dissipate heat from wet mucous membranes in the mouth through panting. Their thermoneutral zone is 16 to 22 °C (61 to 72 °F). At higher temperatures, pigs lose heat by wallowing in mud or water via evaporative cooling, although it has been suggested that wallowing may serve other functions, such as protection from sunburn, ecto-parasite control, and scent-marking.</p>
    <div>
        <a href="6">next</a>
    </div>
</section>
</body>
</html>