<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about </title>
    <style>
        *{
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
            font-family: sans-serif;
            color: white;
        }
        body{
    
         
            background: #9c9c9c;
        }
        p{
            margin: 4%;
            font-size: 120%;
        }
        h1{
            font-family: sans-serif;
        }
        img{
            width: 50%;
            height: 50%;
        }
        section{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 2%;
            padding: 2%;
            background: rgba(88, 116, 78, 0.425);
        }
        div{
            padding: 2%;
            background: blue;
        
        }
    </style>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6518770876506180"
    crossorigin="anonymous"></script>
</head>
<body>
    <section>
    <h1>ALL THINGS ABOUT BEE:</h1>
    <img src="https://upload.wikimedia.org/wikipedia/commons/7/76/Tetragonula_carbonaria_%2814521993792%29.jpg">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6518770876506180"
     crossorigin="anonymous"></script>
<!-- ad 1 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-6518770876506180"
     data-ad-slot="7036107632"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
    <p>Bees are winged insects closely related to wasps and ants, known for their roles in pollination and, in the case of the best-known bee species, the western honey bee, for producing honey. Bees are a monophyletic lineage within the superfamily Apoidea.</p> They are currently considered a clade, called Anthophila. There are over 20,000 known species of bees in seven recognized biological families. Some species – including honey bees, bumblebees, and stingless bees – live socially</p> in colonies while most species (>90%) – including mason bees, carpenter bees, leafcutter bees, and sweat bees – are solitary.

    Bees are found on every continent except Antarctica,</p> in every habitat on the planet that contains insect-pollinated flowering plants. The most common bees in the Northern Hemisphere are the Halictidae, or sweat bees, but they are small and often mistaken for wasps or flies. Bees range in size from tiny stingless bee species, whose workers are less than 2 millimetres (0.08 in) long,</p> to Megachile pluto, the largest species of leafcutter bee, whose females can attain a length of 39 millimetres (1.54 in).
    
    Bees feed on nectar and pollen, the former primarily</p> as an energy source and the latter primarily for protein and other nutrients. Most pollen is used as food for their larvae. Vertebrate predators of bees include primates and birds such as bee-eaters; insect predators include beewolves and dragonflies.</p>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6518770876506180"
     crossorigin="anonymous"></script>
<!-- ad 1 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-6518770876506180"
     data-ad-slot="7036107632"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
    Bee pollination is important both ecologically and commercially, and the decline in wild bees has increased the value of pollination by commercially managed hives of honey bees. The analysis of 353 wild bee and hoverfly species across</p> Britain from 1980 to 2013 found the insects have been lost from a quarter of the places they inhabited in 1980.
    
    Human beekeeping or apiculture (meliponiculture for stingless bees)</p> has been practised for millennia, since at least the times of Ancient Egypt and Ancient Greece. Bees have appeared in mythology and folklore, through all phases of art and literature from ancient times to the present day, although primarily focused in the Northern Hemisphere where beekeeping is far more common.</p> In Mesoamerica, the Mayans have practiced large-scale intensive meliponiculture since pre-Columbian times</p>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6518770876506180"
    crossorigin="anonymous"></script>
<!-- ad 1 -->
<ins class="adsbygoogle"
    style="display:block"
    data-ad-client="ca-pub-6518770876506180"
    data-ad-slot="7036107632"
    data-ad-format="auto"
    data-full-width-responsive="true"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
    
    
    
    <div>
        <a href="7">next</a>
    </div>
</section>
</body>
</html>