<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about </title>
    <style>
        *{
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
            font-family: sans-serif;
            color: white;
        }
        body{
    
         
            background: #9c9c9c;
        }
        p{
            margin: 4%;
            font-size: 120%;
        }
        h1{
            font-family: sans-serif;
        }
        img{
            width: 50%;
            height: 50%;
        }
        section{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 2%;
            padding: 2%;
            background: rgba(88, 116, 78, 0.425);
        }
        div{
            padding: 2%;
            background: blue;
        
        }
    </style>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6518770876506180"
    crossorigin="anonymous"></script>
</head>
<body>
    <section>
    <h1>ALL THINGS ABOUT HORSE:</h1>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/de/Nokota_Horses_cropped.jpg/220px-Nokota_Horses_cropped.jpg">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6518770876506180"
     crossorigin="anonymous"></script>
<!-- ad 1 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-6518770876506180"
     data-ad-slot="7036107632"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
    <p>The horse (Equus ferus caballus) is a domesticated, one-toed, hoofed mammal. It belongs to the taxonomic family Equidae and is one of two extant subspecies of Equus ferus. The horse has evolved over the past 45 to 55 million years from a small multi-toed creature, close to Eohippus, into the large, single-toed animal of today. Humans began domesticating horses around 4000 BCE, and their domestication is believed to have been widespread by 3000 BCE.</p> Horses in the subspecies caballus are domesticated, although some domesticated populations live in the wild as feral horses. These feral populations are not true wild horses, which are horses that never have been domesticated. There is an extensive, specialized vocabulary used to describe</p> equine-related concepts, covering everything from anatomy to life stages, size, colors, markings, breeds, locomotion, and behavior.

    Horses are adapted to run, allowing them to quickly escape predators,</p> and possess an excellent sense of balance and a strong fight-or-flight response. Related to this need to flee from predators in the wild is an unusual trait: horses are able to sleep both standing up and lying down, with younger horses tending to sleep significantly more than adults. Female horses, called mares, carry their young for approximately 11 months and a young horse, called a foal,</p> can stand and run shortly following birth. Most domesticated horses begin training under a saddle or in a harness between the ages of two and four. They reach full adult development by age five, and have an average lifespan of between 25 and 30 years.
    
    Horse breeds are loosely</p> divided into three categories based on general temperament: spirited "hot bloods" with speed and endurance; "cold bloods", such as draft horses and some ponies, suitable for slow, heavy work; and "warmbloods", developed from crosses between hot bloods and cold bloods, often focusing on creating breeds for specific riding purposes, particularly in Europe.</p> There are more than 300 breeds of horse in the world today, developed for many different uses.
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6518770876506180"
     crossorigin="anonymous"></script>
<!-- ad 1 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-6518770876506180"
     data-ad-slot="7036107632"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
    Horses and humans interact in a wide variety of sport competitions and non-competitive recreational pursuits</p> as well as in working activities such as police work, agriculture, entertainment, and therapy. Horses were historically used in warfare, from which a wide variety of riding and driving techniques developed, using many different styles of equipment and methods of control.</p> Many products are derived from horses, including meat, milk, hide, hair, bone, and pharmaceuticals extracted from the urine of pregnant mares. Humans provide domesticated horses with food, water, and shelter, as well as attention from specialists such as veterinarians and farriers.</p>
    
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6518770876506180"
     crossorigin="anonymous"></script>
<!-- ad 1 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-6518770876506180"
     data-ad-slot="7036107632"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
      <div>
        <a href="10">next</a>
      </div>
    </section>
</body>
</html>